html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a {
  color: #0070f3;
  text-decoration: none;
  &:hover, &:focus, &:active {
    text-decoration: underline;
  }
}

img {
  width: 100%;
}

.top {
  list-style: none;
  margin: 0;
  padding: 0;
}

.proverb_list, .alphabetal_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

@import "~bootstrap/scss/bootstrap";
